html, body {
  height: 100%;
}

body {
  margin: 0;
}

.Todo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  .TodoApp {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;

    .add-todo-form {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      .add-todo-input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .add-todo-btn {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #3e8e41;
        }
      }
    }

    .filter-select {
      margin-bottom: 20px;
      padding: 2px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
    }

    .todo-list {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;

      .todo-item {
        padding: 10px;
        border-bottom: 1px solid #ccc;

        &:last-child {
          border-bottom: none;
        }

        .todo-checkbox {
          margin-right: 10px;
        }

        .todo-text {
          font-size: 16px;
        }

        .todo-delete-btn {
          background-color: #ff0000;
          color: #fff;
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-left: 20px;
          float: right;

          &:hover {
            background-color: #cc0000;
          }
        }
      }
    }
  }
}